<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="icon" type="image/png" href="../img/hero/el-planeta-tierra.png">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
</head>

<body>
    <header>
        <div class="encabezado">
            <img class="icono-footer" src="../img/hero/el-planeta-tierra.png" alt="icono-del-sitio">
            <nav>
                <ul>
                    <li><a href="../index.html">Principal</a></li>
                    <li><a href="productos.html">Tienda</a></li>
                    <li><a href="sobre-nosotros.html">Sobre Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="calculadora.html">Calculadora</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="hero-carrito">
            <div class="presentacion">
                <h1>Producto agregado exitosamente</h1>
                <a class="boton-producto" href="../index.html">Volver al inicio</a>
                <a class="boton-producto" href="productos.html">Ir a la tienda</a>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-contexto">
                <h1>EcoMarket</h1>
                <p>Tu destino para un consumo consciente y responsable. Nos dedicamos a ofrecerte productos
                    seleccionados que cuidan de ti y del planeta, promoviendo un estilo de vida residuo cero y apoyando
                    a productores locales que respetan el medio ambiente.
                </p>
            </div>
            <div class="footer-menu">
                <h1>Páginas de interes</h1>
                <ul>
                    <li><a href="../index.html">Principal</a></li>
                    <li><a href="productos.html">Tienda</a></li>
                    <li><a href="sobre-nosotros.html">Sobre Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="calculadora.html">Calculadora</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="final">
            <p>@2026 EcoMarket</p>
            <p class="firma"><strong>Creado por: Exneider Nava</strong></p>
        </div>
    </footer>

</body>



</html>