<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="icon" type="image/png" href="../img/hero/el-planeta-tierra.png">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
</head>

<body>
    <header>
        <div class="encabezado">
            <img class="icono-footer" src="../img/hero/el-planeta-tierra.png" alt="icono-del-sitio">
            <nav>
                <ul>
                    <li><a href="../index.html">Principal</a></li>
                    <li><a href="productos.html">Tienda</a></li>
                    <li><a href="sobre-nosotros.html">Sobre Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="hero-contacto">
            <div class="presentacion">
            </div>
        </section>
        <section class="informacion-sitio">
            <h1>Contáctanos</h1>
            <hr>
            <div class="contenido-informativo">
                <div class="informacion">
                    <h1>Ponte en contácto con nosotros fácilmente</h1>
                    <p>La comunicación directa es el primer paso para construir una comunidad sólida y comprometida con
                        el cambio positivo. Queremos estar siempre a tu alcance para resolver tus dudas, escuchar tus
                        ideas o guiarte en cada paso hacia una vida más sostenible. Si prefieres una atención inmediata
                        y personalizada, puedes escribirnos directamente a nuestro WhatsApp; o si lo deseas, envíanos un
                        correo electrónico a Gmail con tus propuestas y comentarios detallados. Tu voz es fundamental
                        para nosotros y estamos listos para acompañarte en cada decisión que proteja nuestro planeta.
                    </p>
                    <div class="iconos">
                        <div class="whatsapp">
                            <a href="https://wa.me/573167221636" target="_blank">
                                <img src="../img/icons/whatsapp.webp" alt="icono de whatsapp">
                            </a>
                        </div>
                        <div class="gmail">
                            <a href="mailto:exneidernava9@gmail.com" target="_blank">
                                <img src="../img/icons/gmail.webp" alt="icono de gmail">
                            </a>
                        </div>
                    </div>
                </div>
                <section class="formulario-contacto">
                    <h2>Envíanos un mensaje</h2>
                    <form action="formulario.html" method="POST">
                        <div class="grupo-campo">
                            <label for="nombre">Nombre Completo</label>
                            <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required>
                        </div>

                        <div class="grupo-campo">
                            <label for="correo">Correo Electrónico</label>
                            <input type="email" id="correo" name="correo" placeholder="correo@ejemplo.com" required>
                        </div>

                        <div class="grupo-campo">
                            <label for="mensaje">Mensaje</label>
                            <textarea id="mensaje" name="mensaje" rows="5" placeholder="¿En qué podemos ayudarte?"
                                required></textarea>
                        </div>

                        <button type="submit" class="boton-producto">Enviar Mensaje</button>
                    </form>
                </section>
            </div>
        </section>

        <section class="mapa">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3799.9486251890653!2d-72.52680714097787!3d7.917487439760452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sav%203%20%234-50%20motilones!5e0!3m2!1ses!2sco!4v1780245660532!5m2!1ses!2sco"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-contexto">
                <h1>EcoMarket</h1>
                <p>Tu destino para un consumo consciente y responsable. Nos dedicamos a ofrecerte productos
                    seleccionados que cuidan de ti y del planeta, promoviendo un estilo de vida residuo cero y apoyando
                    a productores locales que respetan el medio ambiente.
                </p>
            </div>
            <div class="footer-menu">
                <h1>Páginas de interes</h1>
                <ul>
                    <li><a href="../index.html">Principal</a></li>
                    <li><a href="productos.html">Tienda</a></li>
                    <li><a href="sobre-nosotros.html">Sobre Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="final">
            <p>@2026 EcoMarket</p>
            <p class="firma"><strong>Creado por: Exneider Nava</strong></p>
        </div>
    </footer>

</body>



</html>