<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="icon" type="image/png" href="../img/hero/el-planeta-tierra.png">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <div class="encabezado">
            <img class="icono-footer" src="../img/hero/el-planeta-tierra.png" alt="icono-del-sitio">
            <nav>
                <ul>
                    <li><a href="../index.html">Principal</a></li>
                    <li><a href="#">Tienda</a></li>
                    <li><a href="sobre-nosotros.html">Sobre Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="hero-tienda">

        </section>
        <section class="container-productos">
            <h1>Bienvenido a la tienda Ecológica</h1>
            <p>Encuentra los mejores productos para ti</p>
            <hr>
            <div class="zona-productos">
                <div class="contenedor-productos">
                    <img src="../img/products/bolsa.webp" alt="Imagen Producto">
                    <h2>Bolsa Ecológica</h2>
                    <p>Utiliza esta bolsa para ayudar al medio ambiente</p>
                    <p><strong>$2.000</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/cepillo.webp" alt="Imagen Producto">
                    <h2>Cepillo dental Ecológico</h2>
                    <p>Cepillate ayudando al medio ambiente con un cepillo 100% reciclable</p>
                    <p><strong>$3.500</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/vasito.webp" alt="Imagen Producto">
                    <h2>Decoración para el hogar</h2>
                    <p>Decora tu hogar con esas decoraciones ecológicas y cuida el medio ambiente</p>
                    <p><strong>$5.000</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/vaso.webp" alt="Imagen Producto">
                    <h2>Vaso Ecológico</h2>
                    <p>Marca la diferencia con este vaso ecológico y cuida el medio ambiente</p>
                    <p><strong>$1.000 (und)</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/bolsa.webp" alt="Imagen Producto">
                    <h2>Bolsa Ecológica</h2>
                    <p>Utiliza esta bolsa para ayudar al medio ambiente</p>
                    <p><strong>$2.000</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/cepillo.webp" alt="Imagen Producto">
                    <h2>Cepillo dental Ecológico</h2>
                    <p>Cepillate ayudando al medio ambiente con un cepillo 100% reciclable</p>
                    <p><strong>$3.500</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/vasito.webp" alt="Imagen Producto">
                    <h2>Decoración para el hogar</h2>
                    <p>Decora tu hogar con esas decoraciones ecológicas y cuida el medio ambiente</p>
                    <p><strong>$5.000</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/vaso.webp" alt="Imagen Producto">
                    <h2>Vaso Ecológico</h2>
                    <p>Marca la diferencia con este vaso ecológico y cuida el medio ambiente</p>
                    <p><strong>$1.000 (und)</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/bolsa.webp" alt="Imagen Producto">
                    <h2>Bolsa Ecológica</h2>
                    <p>Utiliza esta bolsa para ayudar al medio ambiente</p>
                    <p><strong>$2.000</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/cepillo.webp" alt="Imagen Producto">
                    <h2>Cepillo dental Ecológico</h2>
                    <p>Cepillate ayudando al medio ambiente con un cepillo 100% reciclable</p>
                    <p><strong>$3.500</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/vasito.webp" alt="Imagen Producto">
                    <h2>Decoración para el hogar</h2>
                    <p>Decora tu hogar con esas decoraciones ecológicas y cuida el medio ambiente</p>
                    <p><strong>$5.000</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/vaso.webp" alt="Imagen Producto">
                    <h2>Vaso Ecológico</h2>
                    <p>Marca la diferencia con este vaso ecológico y cuida el medio ambiente</p>
                    <p><strong>$1.000 (und)</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/bolsa.webp" alt="Imagen Producto">
                    <h2>Bolsa Ecológica</h2>
                    <p>Utiliza esta bolsa para ayudar al medio ambiente</p>
                    <p><strong>$2.000</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/cepillo.webp" alt="Imagen Producto">
                    <h2>Cepillo dental Ecológico</h2>
                    <p>Cepillate ayudando al medio ambiente con un cepillo 100% reciclable</p>
                    <p><strong>$3.500</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/vasito.webp" alt="Imagen Producto">
                    <h2>Decoración para el hogar</h2>
                    <p>Decora tu hogar con esas decoraciones ecológicas y cuida el medio ambiente</p>
                    <p><strong>$5.000</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/vaso.webp" alt="Imagen Producto">
                    <h2>Vaso Ecológico</h2>
                    <p>Marca la diferencia con este vaso ecológico y cuida el medio ambiente</p>
                    <p><strong>$1.000 (und)</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/bolsa.webp" alt="Imagen Producto">
                    <h2>Bolsa Ecológica</h2>
                    <p>Utiliza esta bolsa para ayudar al medio ambiente</p>
                    <p><strong>$2.000</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/cepillo.webp" alt="Imagen Producto">
                    <h2>Cepillo dental Ecológico</h2>
                    <p>Cepillate ayudando al medio ambiente con un cepillo 100% reciclable</p>
                    <p><strong>$3.500</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/vasito.webp" alt="Imagen Producto">
                    <h2>Decoración para el hogar</h2>
                    <p>Decora tu hogar con esas decoraciones ecológicas y cuida el medio ambiente</p>
                    <p><strong>$5.000</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
                <div class="contenedor-productos">
                    <img src="../img/products/vaso.webp" alt="Imagen Producto">
                    <h2>Vaso Ecológico</h2>
                    <p>Marca la diferencia con este vaso ecológico y cuida el medio ambiente</p>
                    <p><strong>$1.000 (und)</strong></p>
                    <a href="views/carrito.html" class="boton-producto">Añadir al carrito</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-contexto">
                <h1>EcoMarket</h1>
                <p>Tu destino para un consumo consciente y responsable. Nos dedicamos a ofrecerte productos
                    seleccionados que cuidan de ti y del planeta, promoviendo un estilo de vida residuo cero y apoyando
                    a productores locales que respetan el medio ambiente.
                </p>
            </div>
            <div class="footer-menu">
                <h1>Páginas de interes</h1>
                <ul>
                    <li><a href="../index.html">Principal</a></li>
                    <li><a href="#">Tienda</a></li>
                    <li><a href="sobre-nosotros.html">Sobre Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="final">
            <p>@2026 EcoMarket</p>
            <p class="firma"><strong>Creado por: Exneider Nava</strong></p>
        </div>
    </footer>

</body>

</html>