<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="icon" type="image/png" href="img/hero/el-planeta-tierra.png">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <div class="encabezado">
            <img class="icono-footer" src="img/hero/el-planeta-tierra.png" alt="icono-del-sitio">
            <nav>
                <ul>
                    <li><a href="../index.html">Principal</a></li>
                    <li><a href="productos.html">Tienda</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="presentacion">
                <h1>Pagina de sobre nosotros</h1>
                <p>Creamos soluciones sostenibles para un estilo de vida consciente. Cada uno de nuestros productos está
                    diseñado éticamente, con empaques libres de plástico y materiales biodegradables pensados para durar
                    toda la vida. Descubre una forma de comprar que respeta al planeta.</p>
            </div>
        </section>
        <section class="container-productos">
            <h1>Productos Destacados</h1>
            <p>Encuentra los mejores productos para ti</p>
            <hr>
            <div class="zona-productos">
                <div class="contenedor-productos">
                    <img src="img/products/bolsa.webp" alt="Imagen Producto">
                    <h2>Bolsa Ecológica</h2>
                    <p>Utiliza esta bolsa para ayudar al medio ambiente</p>
                    <p><strong>$2.000</strong></p>
                    <button class="boton-producto">Añadir al carrito</button>
                </div>
                <div class="contenedor-productos">
                    <img src="img/products/cepillo.webp" alt="Imagen Producto">
                    <h2>Cepillo dental Ecológico</h2>
                    <p>Cepillate ayudando al medio ambiente con un cepillo 100% reciclable</p>
                    <p><strong>$3.500</strong></p>
                    <button class="boton-producto">Añadir al carrito</button>
                </div>
                <div class="contenedor-productos">
                    <img src="img/products/vasito.webp" alt="Imagen Producto">
                    <h2>Decoración para el hogar</h2>
                    <p>Decora tu hogar con esas decoraciones ecológicas y cuida el medio ambiente</p>
                    <p><strong>$5.000</strong></p>
                    <button class="boton-producto">Añadir al carrito</button>
                </div>
                <div class="contenedor-productos">
                    <img src="img/products/vaso.webp" alt="Imagen Producto">
                    <h2>Vaso Ecológico</h2>
                    <p>Marca la diferencia con este vaso ecológico y cuida el medio ambiente</p>
                    <p><strong>$1.000 (und)</strong></p>
                    <button class="boton-producto">Añadir al carrito</button>
                </div>
            </div>
        </section>
        <section class="informacion-sitio">
            <div class="contenido-informativo">
                <div class="informacion">
                    <h1>Suiguenos en nuestras redes sociales</h1>
                    <p>Creemos que cada día es una nueva oportunidad para vivir en armonía con nuestro entorno. La
                        sostenibilidad no es una meta lejana, sino un camino lleno de pequeñas decisiones diarias que
                        cuidan de la tierra y de nosotros mismos. En nuestras redes sociales compartimos ideas
                        prácticas, consejos verdes y mucha inspiración para ayudarte a construir un hogar más consciente
                        y respetuoso con la naturaleza. Queremos ser tu punto de encuentro para aprender a reducir el
                        impacto ambiental sin complicaciones. Únete a nuestra comunidad, comparte tus logros y descubre
                        cómo tus acciones cotidianas pueden transformar el futuro de nuestro planeta.</p>
                    <div class="iconos">
                        <div class="facebook">
                            <img src="img/icons/facebook.webp" alt="icono de facebook">
                        </div>
                        <div class="instagram">
                            <img src="img/icons/instagram.webp" alt="icono de instagram">
                        </div>
                        <div class="tiktok">
                            <img src="img/icons/tik-tok.webp" alt="icono de tiktok">
                        </div>
                    </div>
                </div>
                <div class="imagen">
                    <img src="img/background/regando-plantas.webp" alt="imagen lateral">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-contexto">
                <h1>EcoMarket</h1>
                <p>Tu destino para un consumo consciente y responsable. Nos dedicamos a ofrecerte productos
                    seleccionados que cuidan de ti y del planeta, promoviendo un estilo de vida residuo cero y apoyando
                    a productores locales que respetan el medio ambiente.
                </p>
            </div>
            <div class="footer-menu">
                <h1>Páginas de interes</h1>
                <ul>
                    <li><a href="../index.html">Principal</a></li>
                    <li><a href="productos.html">Tienda</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="final">
            <p>@2026 EcoMarket</p>
            <p class="firma"><strong>Creado por: Exneider Nava</strong></p>
        </div>
    </footer>

</body>



</html>